body {
  background: url('../assets/background.webp') no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(230, 182, 139, 0.8); 
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.banner {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.news-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  position: relative;
}

.news-item {
  min-width: 300px;
  margin: 0 10px;
  display: none;
  flex-direction: row; /* Alinhar a imagem e o texto horizontalmente */
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  border: 2px solid #ccc; /* Adicionar borda ao redor do conjunto de imagem e texto */
  padding: 10px;
  box-sizing: border-box;
  background-color: #d6c278;
}

.news-item.active {
  display: flex;
}

.news-item img {
  max-width: 500px; /* Ajuste o tamanho da imagem conforme necessário */
  max-height: 500px;
  width: auto;
  height: auto;
  margin-right: 20px; /* Espaçamento entre a imagem e o título */
}

.news-item h2 {
  margin: 0;
  flex-grow: 1; /* O título ocupa o espaço restante */
  text-align: left; /* Alinhar o texto à esquerda */
  color: black;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.all-news-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: block; /* Certifique-se de que é um bloco para ocupar a largura disponível */
  margin-left: auto; /* Centralizar horizontalmente */
  margin-right: auto; /* Centralizar horizontalmente */
}

.events, .facts, .watch-locations, .sponsors {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.events h2, .facts h2, .watch-locations h2, .sponsors h2 {
  color: black; /* Altera a cor do texto para branco */
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}


.event-cards, .fact-cards, .location-cards, .sponsor-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event-card, .fact-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background-color: #d6c278;
}

.location-card, .sponsor-card {
  display: flex;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #d6c278;
}

.location-card img, .sponsor-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
