.container {
  text-align: center;
  padding: 20px;
}

.title {
  margin-top: 20px;
  font-size: 2em;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.teams-item {
  margin: 60px;
  flex: 1 1 300px;
}

.team-info {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Mudei para coluna */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  text-align: center; /* Centraliza o texto */
  min-height: 150px;
  background-color: rgba(230, 182, 139, 0.8); ;
}

.name, .athletes {
  margin: 5px 0;
}

.image {
  width: 100px;
  margin-bottom: 10px; /* Margem inferior em vez de margem direita */
}

.image-container {
  flex-shrink: 0;
}

.details {
  text-align: center;
}

@media (max-width: 600px) {
  .title {
      font-size: 1.5em;
  }
  .teams-item {
      flex: 1 1 150px;
  }
  .image {
      width: 70px;
  }
  .team-info {
      flex-direction: column;
      text-align: center;
      min-height: 200px;
  }
  .image {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .details {
      text-align: center;
  }
}
